.body {
    flex: 0.8;
    height: 100vh;
    color: white;
    padding: 2rem;
    overflow-y: overlay;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.body::-webkit-scrollbar {
    display: none;
}

.body_info {
    display: flex;
    align-items: flex-end;
    padding: 0.6rem;
}
.body_info img {
    height: 20vw;
    margin: 0 1.2rem;
    box-shadow: 0 4px 3.7rem rgba(0, 0, 0, 0.5);
}

.body_infoText {
    flex: 1;
}

.body_infoText h2 {
    font-size: 3rem;
    margin-bottom: 0.6rem;
}

.body_infoText p {
    font-size: 0.8rem;
}

.body_playIcon {
    font-size: 5rem !important;
    margin: 1.25rem 0 1.25rem 3rem;
}

.body_playIcon:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.body_songs {
    margin: 1.25rem -1.8rem;
}

.body_icons {
    display: flex;
    align-items: center;
}

.body_icons .MuiSvgIcon-root {
    margin-right: 1.25rem;
}
