.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}
.header_left {
    flex: 0.5;
    min-width: 4.4rem;
    background-color: white;
    color: gray;
    border-radius: 1.8rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
}
.header_left input {
    border: none;
    width: 100%;
}

.header_right {
    display: flex;
    align-items: center;
}
.header_right h4 {
    margin-left: 0.6rem;
}
