.sidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    height: 2.5rem;
    cursor: pointer;
    transition-delay: 200ms color ease-in;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption_icon {
    padding: 0 0.6rem;
}

.sidebar hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 0.6rem auto;
}
